.signup-wrapper[data-theme="error"] {
  --color-primary: #5a0000;
  --color-secondary: #ff0000;
  --color-buttons-typography: var(--color-primary);
  --color-placeholder: var(--color-secondary);
}

.signup-wrapper[data-theme="success"] {
  --color-primary: #004006;
  --color-secondary: #69ed76;
  --color-buttons-typography: var(--color-primary);
  --color-placeholder: var(--color-secondary);
}
