@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fff;
  --color-secondary: #000;
}

.signup-wrapper[data-theme="error"] {
  --color-primary: #5a0000;
  --color-secondary: #ff0000;
}

.signup-wrapper[data-theme="success"] {
  --color-primary: #004006;
  --color-secondary: #69ed76;
}

@layer base {
  html {
    @apply font-bold;
  }

  body {
    @apply h-dvh bg-sl-wave bg-cover bg-center bg-no-repeat;
  }

  h1 {
    @apply mb-3 text-heading;
  }

  p {
    @apply text-base;
  }

  form {
    @apply relative flex h-12;
  }

  input {
    @apply w-full truncate rounded-full	border-4 border-solid border-current bg-inherit pl-6 text-2xl tracking-[-0.03em] outline-none;
  }

  button {
    @apply absolute bottom-0 right-0 top-0 my-2 mr-2 truncate rounded-3xl bg-secondary px-4 text-base leading-6 tracking-[-0.03em] text-primary text-white transition-all;
  }
}

@layer components {
  .page-wrapper {
    @apply flex h-full items-end;
  }

  .signup-wrapper {
    @apply mx-6 mb-6 flex flex-col justify-center rounded-[2.5rem] bg-primary px-6 py-[4.5rem] text-secondary transition-colors;
  }

  .text-wrapper {
    @apply mb-6;
  }

  .error-wrapper {
    @apply pointer-events-none fixed bottom-0 z-10 w-full;
  }

  .error-toast {
    @apply bg-[#ff0000] px-4 py-2 text-[#5a0000] transition-transform;
  }
}

@layer utilities {
  body {
    @apply sm:hidden;
  }

  input::placeholder {
    @apply text-secondary;
  }

  button:disabled {
    @apply opacity-50;
  }
}
