@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/themes.css";

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-buttons-typography: var(--color-primary);
  --color-placeholder: var(--color-secondary);
}

@layer base {
  body {
    @apply bg-sl-wave bg-cover bg-no-repeat bg-center h-dvh sm:hidden;
  }

  h1 {
    @apply text-heading mb-3;
  }

  p {
    @apply text-base;
  }

  form {
    @apply flex relative h-12;
  }

  input {
    @apply outline-none text-2xl rounded-full border-4 border-solid pl-6 truncate w-full border-current bg-inherit;
  }

  button {
    @apply absolute top-0 bottom-0 right-0 text-base leading-6 text-white rounded-3xl my-2 mr-2 truncate px-4 tracking-[-0.03em] transition-all;
  }

  .signup-wrapper {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  button {
    background-color: var(--color-secondary);
    color: var(--color-buttons-typography);
  }
}

@layer components {
  .page-wrapper {
    @apply absolute left-0 right-0 bottom-0 mx-6 mb-6;
  }

  .signup-wrapper {
    @apply flex flex-col justify-center px-6 py-[4.5rem] rounded-[2.5rem] transition-colors;
  }

  .text-wrapper {
    @apply mb-6;
  }
}

@layer utilities {
  input::placeholder {
    color: var(--color-placeholder);
  }

  button:disabled {
    @apply opacity-50;
  }
}
